@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Rajdhani:wght@300&display=swap');

@import 'reset';

main {
	width: 100%;
	height: 100%;
	position: relative;
	border: 1px solid red;

	h1 {
		position: absolute;
		left: 0px;
		top: -50px;
		font: 34px/1 'Rajdhani';
		color: #555;
	}

	@import 'btns';
	@import 'panels';
}
